/* Localized versions of Info.plist keys */

CFBundleName = "KisMAC";
CFBundleShortVersionString = "KisMAC 0.21a";
CFBundleGetInfoString = "KisMAC 0.21a [$Revision: 217$], © 2002-2008 KisMAC Community";
NSHumanReadableCopyright = "Copyright 2002-2008 KisMAC Community";



