/* Localized versions of Info.plist keys */

CFBundleName = "KisMAC";
CFBundleShortVersionString = "KisMAC 0.21a";
CFBundleGetInfoString = "KisMAC version 0.21a [$Revision$], Copyright 2002-2006 Michael Rossberg, Geoffrey Kruse et al.";
NSHumanReadableCopyright = "Copyright 2002-2006 Michael Rossberg, Geoffrey Kruse et al.";

