<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AtherosWifi</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.bellardo.driver.AtherosWifi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Atheros chipset cards</key>
		<dict>
			<key>IOClass</key>
			<string>AtherosWIFIController</string>
			<key>IONameMatch</key>
			<array>
				<string>pci168c,13</string>
				<string>pci168c,12</string>
				<string>pci168c,11</string>
				<string>pci168c,10</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>AtherosUserClient</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.3.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kernel.bsd</key>
		<string>6.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>6.0</string>
		<key>com.apple.kernel.libkern</key>
		<string>6.0</string>
		<key>com.apple.kernel.mach</key>
		<string>6.0</string>
		<key>com.atheros.driver.HAL</key>
		<string>1.0.0d1</string>
		<key>com.bellardo.iokit.IO80211Family</key>
		<string>1.0.0</string>
	</dict>
</dict>
</plist>
