<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MACJack</string>
	<key>CFBundleGetInfoString</key>
	<string>MACJack version 1.0.0a1</string>
	<key>CFBundleIdentifier</key>
	<string>org.binaervarianz.iokit.MACJack</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MACJack</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0a1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0a1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Prism2_Orinoco</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.binaervarianz.iokit.MACJack</string>
			<key>IOClass</key>
			<string>MACJackDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>pccard156,3</string>
				<string>pccardb,7300</string>
				<string>pccard156,2</string>
				<string>pccard126,8000</string>
				<string>pccard105,7</string>
				<string>pccard89,1</string>
				<string>pccard124,1110</string>
				<string>pccard138,2</string>
				<string>pccard268,1</string>
				<string>pccard250,2</string>
				<string>pccard26f,30b</string>
				<string>pccard274,1612</string>
				<string>pccard274,1613</string>
				<string>pccard274,3301</string>
				<string>pccard28a,2</string>
				<string>pccard2d2,1</string>
				<string>pccardd601,2</string>
				<string>pccardd601,5</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1500</integer>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOUserClientClass</key>
			<string>MACJackUserClient</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOPCCardFamily</key>
		<string>1.1.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.0.0b1</string>
	</dict>
</dict>
</plist>